{% extends 'base.html' %}
{% load static %}

{% block title %}Dossiers{% endblock %}

{% block content %}
  <h1 class="mb-4">Suspects</h1>
  <p>Choose a criminal:</p>
  <div class="row">
    {% for suspect in suspects %}
      <div class="col-6 col-md-4 col-lg-3 mb-4 text-center">
        {% if suspect.has_picture %}
          <img src="{% get_static_prefix %}criminals/img/{{ suspect.name }}.jpg" class="img-fluid mb-2" alt="{{ suspect.name }}" />
        {% endif %}
        <h5><a href="{% url 'dossiers:suspect' suspect.name %}">{{ suspect.name }}</a></h5>
      </div>
    {% endfor %}
  </div>
{% endblock %}
