{% extends 'base.html' %}
{% load static %}

{% block title %}{{ suspect.name }}{% endblock %}

{% block content %}
  <h1 class="mb-4">{{ suspect.name }}</h1>
  {% if suspect.has_picture %}
    <img src="{% get_static_prefix %}criminals/img/{{ suspect.name }}.jpg" class="img-fluid mb-3" alt="{{ suspect.name }}" />
  {% endif %}
  <dl class="row">
      <dt class="col-sm-3">Auto</dt>
      <dd class="col-sm-9">{{ suspect.get_auto_display|default:"Unknown" }}</dd>
      <dt class="col-sm-3">Feature</dt>
      <dd class="col-sm-9">{{ suspect.get_feature_display|default:"Unknown" }}</dd>
      <dt class="col-sm-3">Hair</dt>
      <dd class="col-sm-9">{{ suspect.get_hair_display|default:"Unknown" }}</dd>
      <dt class="col-sm-3">Hobby</dt>
      <dd class="col-sm-9">{{ suspect.get_hobby_display|default:"Unknown" }}</dd>
      <dt class="col-sm-3">Sex</dt>
      <dd class="col-sm-9">{{ suspect.get_sex_display|default:"Unknown" }}</dd>
      <dt class="col-sm-3">Food</dt>
      <dd class="col-sm-9">{{ suspect.get_food_display|default:"Unknown" }}</dd>
  </dl>
  <p><a href="{% url 'dossiers:index' %}" class="btn btn-secondary">All suspects</a></p>
{% endblock %}
